:root {
  --page-max: 1200px;
  --gap: 24px;
  --bg: #fff;
  --muted: #9aa3ac;
  --accent: #ff3f3a;
  --card-bg: #fff;
  --shadow: 0 8px 20px rgba(20, 20, 40, 0.06);
  --yellow: #ffd24d;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  line-height: 1.3;
  color: #222;
  background: #f8f9fb;
  padding: 48px;

  @media (max-width: 560px) {
    padding: 20px;
  }
}

.container {
  max-width: 1900;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 50px;
}
.text {
  text-align: center;
  height: 24px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
}
// .courses__title {
//   text-align: center;

//   height: 60px;
//   font-family: "Lato";
//   font-style: normal;
//   font-weight: 900;
//   font-size: 46px;
//   line-height: 130%;
//   color: #1e212c;
//   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

.courses {
  display: flex;
  flex-direction: column;
  gap: 28px;

  &__top {
    display: flex;
    align-items: center;

    gap: 16px;
  }

  &__title-wrap {
    display: flex;
    flex-direction: column;
  }

  &__eyebrow {
    font-size: 12px;
    color: var(--muted);
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__title {
    text-align: center;
    height: 45px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 55%;
    color: #1e212c;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 560px) {
      font-size: 35px;
    }
    @media (max-width: 460px) {
      font-size: 32px;
    }
  }
}

.controls {
  display: flex;
  gap: 14px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  &__count {
    font-size: 13px;
    color: var(--muted);
  }
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  &__btn {
    border: 1px solid #f0f0f0;
    background: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.15s;
    box-shadow: var(--shadow);

    font-family: "Lato";

    color: #9a9ca5;

    &--active {
      border-color: var(--accent);
      color: var(--accent);
    }
  }
}

.search {
  position: relative; // контейнер для svg
  width: 350px;

  input {
    font-family: "Lato";
    width: 100%;
    height: 44px;
    padding-right: 36px; // место для иконки справа
    padding-left: 12px;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    @media (max-width: 560px) {
      font-size: 8px;
      width: 90px;
      height: 30px;
      padding-right: 10px;
    }
  }

  svg {
    position: absolute;
    right: 10px; // конец поля
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    pointer-events: none; // чтобы клик шел в input
    @media (max-width: 560px) {
      right: 15px;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // ровно 3 колонки
  gap: var(--gap);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); // 2 на планшете
  }

  @media (max-width: 560px) {
    grid-template-columns: 1fr; // 1 на телефоне
  }
}

.card {
  font-family: "Lato";
  background: var(--card-bg);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  transition: transform 0.15s, box-shadow 0.15s;
  padding-bottom: 20px;

  &:hover {
    transform: translateY(-6px);
  }

  &__media {
    background: linear-gradient(180deg, var(--yellow), #ffd24d);
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 560px) {
      height: 130px;
    }
  }
  &__author {
    font-family: "Lato";
    color: #f52f6e;
  }

  &__avatar {
    object-fit: cover;
    box-shadow: 0 6px 18px rgba(20, 20, 40, 0.06);

    // @media (max-width: 560px) {
    //   width: 72px;
    //   height: 72px;
    // }
  }

  &__body {
    font-family: "Lato";
    padding: 16px 18px 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__labels {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__title {
    font-family: "Lato";
    font-weight: 600;
    font-size: 15px;
    margin: 24px;
    max-width: 342px;
    color: #16202a;
  }

  &__meta {
    font-family: "Lato";
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: var(--muted);
  }

  &__price {
    color: var(--accent);
    font-weight: 700;
    margin-left: 24px;
  }
}

.label {
  font-family: "Lato";
  font-size: 12px;
  padding: 6px 8px;
  margin: 24px;
  border-radius: 6px;
  background: #f3f3f3;
  color: #ffffff;

  &--marketing {
    background: #03cea4;
    color: #ffffff;
  }

  &--management {
    background: #5a87fc;
    color: #ffffff;
  }
  &--hr-recruiting {
    background: #f89828;
    color: #ffffff;
  }
  &--design {
    background: #f52f6e;
    color: #ffffff;
  }
  &--development {
    background: #7772f1;
    color: #ffffff;
  }
}

.empty {
  padding: 40px;
  background: #fff;
  border-radius: 12px;
  text-align: center;
  color: var(--muted);
  box-shadow: var(--shadow);
}

.label {
  width: max-content;
  display: inline-block;
}
.card__author {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #787a80;
}
